.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7; 
}
.jumbotron .btn-primary:hover {
    background: #7646c1; 
}
.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em; 
}
.navbar + .jumbotron {
  margin-top: -20px; 
}
.jumbotron .lang-logo {
  display: block;
  background: #B01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white; 
}
.jumbotron .lang-logo img {
  max-width: 100%; 
}

.app-body {
  margin: 5px 5px 0 10px;
}

.bg-3 { 
    background-color: #ffffff;
    color: #555555;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.active>a {
  color: #1abc9c !important;;
}