<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<% include ../partials/menu %>

<div class="container-fluid bg-3">    
  <div class="app-label"><%= page %></div>
  <div class="app-body">
    <table>
      <tbody>
      <%for (var i in messages){%>
      <tr>
        <td>
        	<strong><%= messages[i]['title'] %></strong>
        	<%- messages[i]['content'] %>
        </td>
      </tr>
      <%}%>
    </tbody>
    </table>
  </div>
</div>
</body>

<% include ../partials/script %>
</html>
