<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="jumbotron text-center">Here lies the personal NodeJS apps from Pramit</div>

<table>
  <tbody>
  <%for (var i in messages){%>
  <tr>
    <td>
    	<strong><%= messages[i]['title'] %></strong>
    	<%- messages[i]['content'] %>
    </td>
  </tr>
  <%}%>
</tbody>
</table>

</body>
