<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="jumbotron text-center">Here lies the personal NodeJS apps from Pramit</div>

<table>
  <%for (var msg in messages){%>
  <%=messages[msg]%>
  <%}%>
</table>

</body>
